{% include 'LICENSE.jinja2' %}

add_lunch_combo twrp_{{ device_info.codename }}{{ sprd_profile.lunch_suffix }}-user
add_lunch_combo twrp_{{ device_info.codename }}{{ sprd_profile.lunch_suffix }}-userdebug
add_lunch_combo twrp_{{ device_info.codename }}{{ sprd_profile.lunch_suffix }}-eng
